/* your css code */
* {
  margin: 0;
  padding: 0;
}

.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #091e3f;
  background-image: url('./images/pic.jpg');
  background-size: 100% 100%;
  padding: 10px;
  padding-top: 28px;
  background-blend-mode: overlay, multiply;
}

.googleButton {
  position: relative;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  color: #707375;
  border: none;
  width: 152px;
  height: 42px;
  margin-bottom: 18px;
  background-color: #f5f7fa;
  box-shadow: 0px 2px 2px 0 rgba(9, 30, 63, 0.15);
}

.googleButton::before {
  position: absolute;
  content: '';
  display: inline-block;
  background-image: url('./images/google-icon.png');
  background-size: 100%;
  left: 14px;
  width: 18px;
  height: 18px;
  margin: 0;
}

input::placeholder {
  /* color: #a6abb9; */
  font-family: 'Montserrat';
  letter-spacing: 0.42px;
  font-size: 13px;
  font-weight: 500;
}

input[type='password'] {
  size: 10px;
}

.emailInput,
.passwordInput {
  border: none;
  width: 270px;
  height: 40px;
  padding-left: 9px;
  box-shadow: 0px -2px 2px 0 rgba(29, 29, 27, 0.1);
  color: #242a37;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  background-color: #f5f7fa;
  letter-spacing: 0.5px;
}

.emailInput {
  margin-bottom: 13px;
}

.passwordInput {
  margin-bottom: 32px;
  font-weight: 800;
}

.emailText,
.passwordText {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 3;
  letter-spacing: 0.42px;
  color: #ffffff;
}

.emailText::after,
.passwordText::after {
  content: '*';
  display: inline-block;
  color: #f25137;
  margin-left: 3px;
  font-family: 'Montserrat';
}

.logInButton {
  border: none;
  font-family: 'Montserrat';
  width: 270px;
  height: 55px;
  background-color: #ff6b08;
  cursor: pointer;
  margin-bottom: 22px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.singInLink {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 18px;
  border-bottom: 0.1px #ffffff solid;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 600;
}

.wrapperQuote {
  padding: 35px 70px 0;
  width: 100%;
  text-align: center;
  color: #242a37;
}

.quote {
  position: relative;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 0.39px;
  margin-bottom: 22px;
  color: #242a37;
}

.quote::before {
  display: block;
  content: '\201c';
  font-family: 'AbrilFatface';
  padding-top: 10px;
  font-size: 45px;
  line-height: 0;
  color: #ff6b08;
  margin-bottom: 10px;
  font-weight: bold;
}

.quote::after {
  position: absolute;
  display: block;
  content: '';
  width: 45%;
  height: 1px;
  background-color: #e0e5eb;
  margin-top: 10px;
  text-align: center;
  left: 26%;
}

.quoteAuthor {
  margin-bottom: 31px;
  color: #898f9f;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .mainWrapper {
    background-color: #091e3f;
    background-image: url('./images/bg-768.jpg');
    background-size: 100% 100%;
    padding-top: 71px;
    background-blend-mode: overlay, multiply;
  }

  .wrapper {
    width: 404px;
    background-color: #fff;
    margin-bottom: 70px;
    padding-top: 36px;
  }

  .emailText,
  .passwordText {
    font-weight: 600;
    color: #898f9f;
  }

  .emailInput,
  .passwordInput {
    width: 320px;
    height: 40px;
  }

  .singInLink {
    color: #ff6b08;
    border-bottom: 0.1px #ff6b08 solid;
  }

  .wrapperQuote {
    width: 100%;
    background-color: #fff;
  }

  .quote {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.58;
    letter-spacing: 0.72px;
    margin-bottom: 32px;
  }

  .quote::before {
    padding-top: 60px;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .quote::after {
    width: 30%;
    margin-top: 15px;
    text-align: center;
    left: 35%;
  }

  .quoteAuthor {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 1px;
    margin-bottom: 57px;
  }
}

@media (min-width: 1024px) {
  .generalWrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    background-color: #091e3f;
    background-image: url('./images/bg-1024.jpg');
    background-size: 100% 100%;
    padding-top: 71px;
    background-blend-mode: overlay, multiply;
  }

  .mainWrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #fff;
    padding-top: 0;
  }

  /* .wrapper {
    width: 42%;
    background-color: #091e3f;
    background-image: url('./images/bg-1024.jpg');
    background-size: 100% 100%;
    padding-top: 71px;
    background-blend-mode: overlay, multiply;
  }

  .wrapperQuote {
    width: 58%;
  } */
}
