.container {
  width: 300px;
  order: 4;
}

@media (min-width: 768px) {
  .container {
    width: 748px;
  }
}

@media (min-width: 1280px) {
  .container {
    margin-top: 80px;
    flex-basis: 70%;
    order: 3;
  }
}
