.nextStepButton__wrapper {
  text-align: center;
}

.nextStepButton__button {
  width: 180px;
  height: 39px;
  margin-top: 36px;
  border: solid 1px #091e3f;
  background-color: #f5f7fa;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
}

@media (min-width: 768px) {
  .nextStepButton__button {
    width: 180px;
    height: 39px;
    color: #ffffff;
    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #ff6b08;
    background-color: #ff6b08;
  }
}
