.libraryPage__wrapper {
  margin: 0 auto;
  width: 320px;
  height: 100%;
  background: #f5f7fa;
  padding: 10px 10px 10px 0;
}

@media (min-width: 768px) {
  .libraryPage__wrapper {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .libraryPage__wrapper {
    width: 1280px;
  }
}
