.container {
  padding: 28px 10px;
  min-width: 320px;
}

@media (min-width: 768px) {
  .container {
    padding: 30px 44px 48px 44px;
    min-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 38px 40px 48px 40px;
    min-width: 1280px;
  }
}
